<%- include('../commun/head'); %>

<body>
<h4>Information groupe soutenance</h4>
<div class="container" style="height: 400px;width: 1203px;padding: 0px;>
    <form action="change" method="post" class="form-title form-group">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <label for="name">Nom du groupe</label>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <input type="text" id="name" name="NomGroupe" value=""
                       size="20" placeholder="Nom groupe" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name2">Numéro élève A</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name2" name="numEleveA" value="<%= id1 %>"
                       size="20" maxlength="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name3">Numéro élève B</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name3" name="numEleveB" value="<%= id2 %>"
                       size="20" maxlength="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name2">Numéro élève C</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name2" name="numEleveC" value="<%= id3 %>"
                       size="20" maxlength="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name3">Numéro élève D</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name3" name="numEleveD" value="<%= id4 %>"
                       size="20" maxlength="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name3">Numéro élève E</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name3" name="numEleveE" value="<%= id5 %>"
                       size="20" maxlength="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label checkbox">
                <label for="name4">Nom tuteur</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input" >
                <input type="text" id="name4" name="NomTuteur" value=""
                       size="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name5">Prénom tuteur</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name5" name="PrenomTuteur" value=""
                       size="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name6">Entreprise tuteur</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name6" name="EntrepriseTut" value=""
                       size="20" class="form-control">
            </div>
        </div>
        <div class="button">
            <input type="hidden" name="idGroupe" value="<%= id %>" >
            <button class="btn btn-light" type="submit">Modifier le groupe</button>
        </div>
    </form>
</div>
</body>
<%- include('../commun/footer'); %>
