<%- include('../commun/headAdmin'); %>
<link rel="stylesheet" href="/css/consultation_creneau.css">
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">date</th>
        <th scope="col">heure</th>
        <th scope="col">salle</th>
        <th scope="col">groupe</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="listeCreneau">
    <% data.forEach(function(row) { %>
        <% var date = new Date(row.date); %>
        <tr>
            <td><%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></td>
            <td><%= row.heureDebut %></td>
            <td><%= row.salle %></td>
            <td>
                <% if (row.groupe){ %>
                    <%= row.groupe %>
                <% }else { %>
                    <p>LIBRE</p>
            </td>
            <% } %>
        </tr>
    <% }); %>
    </tbody>

</table>
<a class="btn btn-primary" href="creneau/modification/">Modifier</a>
</body>

<%- include('../commun/footer'); %>