<%- include('../commun/head'); %>

<body>
<table>
    <thead>
    <tr>
        <th>Numéro étudiant</th>
        <th>prénom</th>
        <th>nom</th>
        <th>date</th>
        <th>salle</th>
        <th>heure</th>
    </tr>
    <tbody>
    <tr>
        <td>
            <button name="button">P1811421</button>
        </td>
        <td>
            <button name="button">sofia</button>
        </td>
        <td>
            <button name="button">bouaklayene</button>
        </td>
        <% if(data){ %>
            <% var date = new Date(data.date); %>
            <td><%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></td>
            <td><%= data.salle %></td>
            <td><%= data.heureDebut %></td>
        <% } %>
    </tr>
    </tbody>

    </thead>
</table>
<button name="button">Modifier</button>


</body>

<%- include('../commun/footer'); %>