<%- include('../commun/head'); %>
<link rel="stylesheet" href="/css/consultation_creneau.css">
<body>
<table>
    <thead>
    <tr>
        <th>Numéro étudiant</th>
        <th>prénom</th>
        <th>nom</th>
        <th>date</th>
        <th>salle</th>
        <th id="toto">heure</th>
    </tr>
    <tbody>
    <tr>
        <% if(etu){ %>
        <td>
            <button name="button"><%= etu.numEtu %></button>
        </td>
        <td>
            <button name="button"><%= etu.nom %></button>
        </td>
        <td>
            <button name="button"><%= etu.prenom %></button>
        </td>
        <% } %>
        <% if(data){ %>
            <% var date = new Date(data.date); %>
            <td><%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></td>
            <td><%= data.salle %></td>
            <td><%= data.heureDebut %></td>
        <% }else { %>
            <td><i>Non définit</i></td>
            <td><i>Non définit</i></td>
            <td><i>Non définit</i></td>
        <% } %>
    </tr>
    </tbody>

    </thead>
</table>

<% if (data){ %> <!--etudiant a un créneaux-->
    <a class="btn btn-primary" href="join">Modifier</a>
<% }else { %>
    <a class="btn btn-primary" href="join">Ajoute</a>
<% } %>
</body>

<%- include('../commun/footer'); %>