<%- include('../commun/head'); %>

<body>
<form action="" method="post">
    <label for="site-search">Nom du groupe</label>
    <input type="search" name="idGroupe"
           aria-label="Search through site content">



<table class="table">
    <thead>
    <tr>
        <th scope="col">date</th>
        <th scope="col">heure</th>
        <th scope="col">salle</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="listeCreneau">
    <% data.forEach(function(row) { %>
        <% var date = new Date(row.date); %>
        <tr>
            <td><%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></td>
            <td><%= row.heureDebut %></td>
            <td><%= row.salle %></td>
            <td>

                    <input type="radio" name="idCreneau" value="<%= row.num %>">

            </td>
        </tr>
    <% }); %>
    </tbody>
</table>
    <button class="button" type="submit">Choisir</button>
</form>
</body>

<%- include('../commun/footer'); %>
